.list-components {
	/* Basic unstyled bootstrap list. */
	.list-unstyled();
	/* Remove the bottom margin as no siblings below. */
	margin-bottom: 0;

	/* Nested lists have indenting. */
	.list-components { 
		margin-left: 52px;
		margin-top: 15px;

		.list-component {
			margin-bottom: 15px;

			/* Soften the indent to account for the toggle. */
			&.has-components { margin-left: -28px; }
		}
	}

	/* Individual component list items. */
	.list-component {
		/* Fade out the toggle icon. */
		[data-toggle="collapse"] {
			color: inherit;
			width: 24px; /* Matches sub-list indent, minus inline-block spacing. */
			display: inline-block !important;
		}

		/* Remove margin from the last child. */
		&:last-child { margin-bottom: 0 !important; }		

		/* Component State. */
		.list-component-state {
			/* Right align the state. */
			float: right;

			/* Add spacing to the icon. */
			.list-component-state-icon { margin-left: 10px; }

			/* State-based styling/colours. */
			&.list-component-state-operational { color: ~"{{ page.brand.color_state_ok }}"; }
			&.list-component-state-degraded { color: ~"{{ page.brand.color_state_warning }}" }
			&.list-component-state-partially_degraded { 
				color: ~"{{ page.brand.color_state_warning }}";
				opacity: 0.6;
			}
		}

		/* Body of the component, includes name and description. */
		.list-component-body {
			/* Give it a little spacing between itself and the state. */
			padding-right: 40px;

			/* Inline name and description. */
			.list-component-name, .list-component-description { 
				//display: inline;
				margin-bottom: 0;
				display: block;
			}

			/* Soften the styling on the name, less bold. */
			.list-component-name {
				font-weight: 600;
				margin-right: 10px;
				margin-bottom: 8px;
			}

			/* Fade out the description as not an important element. */
			.list-component-description { .text-muted(); }
		}
	}
}

/*
 * Style the top level components to look like shaded bar/bubbles
 * using a shader background and some border radios.
 */
.section-page-components > .container > .list-components {
	// Block styling on the components.
	> .list-component {
		/* Display a shaded bar/block. */
		background-image: url(~"{{ 'shader-pixel-components.svg' | asset_url }}");
		padding: 15px 20px;
		border-radius: @border-radius-base;
		margin-bottom: 20px;
	}

	// Graphical timeline on larger scale devices.
	// --------------------------------------------------

	@media (min-width: @grid-float-breakpoint) {
		// Contain the timeline illustration.
		position: relative;

		// Vertical timeline line.
		&:before {
			content: " ";
			width: 1px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -1px;
			background-image: url(~"{{ 'shader-pixel-body-timeline.svg' | asset_url }}");
		}

		// Pad the left side of the timeline.
		padding: 0 ((@timeline-horizontal-spacing * 2) + (@timeline-bullet-size / 2));
	}

	/*
	 * Vertical spacing of the entire list, based on
	 * that of the .timeline class, scales with
	 * device width.
	 */
	padding-top: @timeline-vertical-spacing-xs;
	padding-bottom: @timeline-vertical-spacing-xs;

	@media (min-width: @screen-sm-min) {
		padding-top: @timeline-vertical-spacing-sm;
		padding-bottom: @timeline-vertical-spacing-sm;
	}

	@media (min-width: @screen-md-min) {
		padding-top: @timeline-vertical-spacing-md;
		padding-bottom: @timeline-vertical-spacing-md;
	}
}

/* List of affected components on a notice. */
.list-affected-components {
	/* Display labels inline. */
	.list-inline();

	.label.label-default {
		font-weight: 300;
		color: inherit;
		background-color: transparent;
		background-image: url(~"{{ 'shader-pixel-affected-component.svg' | asset_url }}");			
	}
}