footer {

	margin-bottom: @line-height-computed;

	@media (min-width: @screen-sm-min) {

		margin-bottom: (@line-height-computed * 3);

	}

	@media (min-width: @screen-lg-min) {

		margin-bottom: (@line-height-computed * 7);

	}
}