footer {
	// Spacing based on screensize.
	margin-bottom: @line-height-computed;
	@media (min-width: @screen-sm-min) { margin-bottom: (@line-height-computed * 3); }
	@media (min-width: @screen-lg-min) { margin-bottom: (@line-height-computed * 7); }

	// Main body content contains support and social links.
	.footer-body {
		margin-bottom: (@line-height-computed * 3);

		h4 {
			margin-bottom: @line-height-computed;
		}

		ul > li {
			margin-bottom: (@line-height-computed / 2);

			a, a:active, a:visited {
				color: ~"{{ page.brand.color_body_links }}";
				opacity: 0.9;

				&:hover,
				&:focus {
					opacity: 1;
					color: ~"{{ page.brand.color_body_links }}";
				}
			}
		}
	}
}