.navbar-brand {

	.navbar-logo {
		margin-right: 15px;
		height: 34px;
	}

}

.navbar {
	/* Formatting on larger screens. */
	@media (min-width: @screen-sm-min) {

		margin-bottom: (@line-height-computed * 3);

	}

	/* Formatting on larger screens. */
	@media (min-width: @screen-lg-min) {

		margin-bottom: (@line-height-computed * 5);

	}
}