.stay-informed-nav {

	.nav-pills {

		width: 100%;

		li {
			background-color: ~"{{ page.brand.color_header_background }}";
			border-radius: @border-radius-large;

			> a {
				// Align text to the left;
				text-align: left;
				background-color: rgba(0, 0, 0, 0.03);

				&:hover,
				&:focus {
					background-color: rgba(0, 0, 0, 0.03);
				}
			}
		}

		@media (min-width: @grid-float-breakpoint) {

			width: auto;
			display: inline-block; 
		
			li { 
				display: inline-block; 

				> a { 
					float: none;
				}
			}

		}

	}

}