.stay-informed-nav {

	.nav-pills {

		width: 100%;

		li {
			a {
				background-color: darken(@color-header-background, 2%);
				text-align: left;
			}
		}

	}

	@media (min-width: @grid-float-breakpoint) {

		.nav-pills { 

			width: auto;
			display: inline-block; 
		
			li { 
				display: inline; 
			}

			a { 
				float: left; 
			}

		}

	}

}

