.template-error-page {
	header { text-align: center; }

	h1 {
		background-color: #ccc;
		display: inline-block;
		border-radius: 6px;
		padding: 30px 50px;
		margin: 50px auto;
		background-color: ~"{{ page.brand.color_header_background }}"; 
		background-image: url(~"{{ 'shader-pixel-header-timeline.svg' | asset_url }}");
	}

	h2 {
		margin: 0;
		margin-bottom: 1em;
	}

	.content-block {
		padding: 50px 0;

		p {
			margin-bottom: 20px;
			font-size: 18px;
		}
	}
}