.timeline {

	dd > dl {
		margin-bottom: 32px;
	}

	dt.end {
		opacity: 0.5;
	}

	dt.heading {
		font-size: 1.4em;
		font-weight: 500;
	}

	dt, dd {
		margin-bottom: 10px;
	}

	dd > dl > dt {
		opacity:0.5;
	}

}