.timeline {

	dd > dl {
		margin-bottom: 32px;
	}

	dt.end {
		opacity: 0.5;
	}

	dt.heading {
		font-size: 1.1em;
		font-weight: 500;
	}

	dt, dd {
		margin-bottom: 10px;
	}

	dd > dl > dt {
		opacity:0.5;
	}

	@media (min-width: @grid-float-breakpoint) {
		position: relative;
		border-left: 1px solid #EFEFEF;

		> dt:before {
			content: " ";
			display: block;
			width: 12px;
			height: 12px;
			background-color: @color-state-ok;
			border-radius: 50%;
			position: absolute;
			left: -6px;
			margin-top: 4px;
		}

		> dt.end:before {
			background-color: #999999;
		}

		> dt {
			padding-left: 36px;
		}

	    dt {
			float: left;
			width: 180px;
			clear: left;
			.text-overflow();
	    }

	    dd {
			margin-left: 200px;
			.clearfix(); // Clear the floated `dt` if an empty `dd` is present

			dl {				
				dt {
					width: 100px;
					clear: none;
				}

				dd {
					margin-left: 120px;
				}
			}

	    }
	}

}