.timeline {

	margin-bottom: 0;

	dd > dl {
		margin-bottom: @line-height-computed * 2;
	}

	dt.end {
		font-size: 1em;
		width: auto;
		color: ~"{{ page.brand.color_body_text }}";

		span {
			opacity: 0.5;
		}
	}

	> dt {
		font-size: 1.2em;
		margin-bottom: @line-height-computed;
	}

	dt.present + dd > dl > dt:first-child, dt.present + dd > dl > dd:nth-child(2) {
		font-size:1.2em;
	}

	dt.heading.present {
		overflow: visible !important;

		span {
			background-color: ~"{{ page.brand.color_state_warning }}";
			color: #FFF;
			border-radius: 6px;
			padding: 5px 10px;
			display: inline-block;
			margin-top: -5px;
		}
	}

	dd {
		margin-bottom: @line-height-computed;
	}

	dt {
		font-weight: (@font-weight-base + 100);
	}

	dd > dl > dt {
		margin-bottom: (@line-height-computed * 0.5);
	}

	dd > dl > dt {
		opacity: 0.5;
	}

	dt.title {
		display: none;

		& + dd {
			margin-left: 0;
			text-align: center;

			h2, .h2 {
				background-color: ~"{{ page.brand.color_state_ok }}";
				color: #FFF;
				border-radius: 6px;
				padding: 15px 20px;
				margin-bottom: (@line-height-computed * 2);

				@media (min-width: @grid-float-breakpoint) {
					display: inline-block;
					margin-left: auto;
					margin-right: auto;
					margin-top: -32px; // Half the height of the element.
				}
			}
		}

		@media (min-width: @grid-float-breakpoint) {
			display: inline;
			width: 0;
			padding-left: 0;
		}
	}

	@media (min-width: @grid-float-breakpoint) {

		position: relative;

		&:before {
			content: " ";
			width: 1px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			opacity: 0.1;
		}

		> dt {
			font-size: 1em;
		}

		> dt:before, dd:before {
			content: " ";
			display: block;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			position: absolute;
			left: -8px;
		}

		> dt.present:before {
			background-color: ~"{{ page.brand.color_state_warning }}";
		}

		> dt {
			padding-left: 72px;
		}

	    dt {
			float: left;
			width: 200px;
			clear: left;
			.text-overflow();
	    }

	    dd {
			margin-left: 232px;
			.clearfix(); // Clear the floated `dt` if an empty `dd` is present

			dl {				
				dt {
					width: 130px;
					clear: none;
				}

				dd {
					margin-left: 150px;
				}
			}

	    }

	    dt.end { 
	    	text-align: left;
	    }
	}

	&.timeline-past {

		padding: 30px 10px;

		@media (min-width: @grid-float-breakpoint) {

			padding: 0;

			&:before {
				background-color: ~"{{ page.brand.color_body_text }}";
				bottom: 32px;
			}

			> dt:before {
				background-color: ~"{{ page.brand.color_body_background }}";
			}

			> dd:before { 
				background-color: ~"{{ page.brand.color_body_text }}";
				opacity: 0.1;
			}

			> dt.past + dd:before {
				background-color: ~"{{ page.brand.color_state_ok }}";
				opacity: 1;
			}

		}

		/* Formatting on larger screens. */
		@media (min-width: @screen-sm-min) {

			padding-top: (@line-height-computed * 5);

		}

		/* Formatting on larger screens. */
		@media (min-width: @screen-lg-min) {

			padding-top: (@line-height-computed * 7);

		}
	}

	&.timeline-present {

		@media (min-width: @grid-float-breakpoint) {

			&:before {
				background: ~"{{ page.brand.color_header_text }}";
			}
					
			> dt:before {
				background-color: ~"{{ page.brand.color_header_background }}";
			}

			> dd:before { 
				background-color: ~"{{ page.brand.color_header_text }}";
				opacity: 0.1;
			}

		}

		/* Formatting on larger screens. */
		@media (min-width: @screen-sm-min) {

			&:before {
				top: (@line-height-computed * 5);
			}

			padding: (@line-height-computed * 5) 0;

		}

		/* Formatting on larger screens. */
		@media (min-width: @screen-lg-min) {

			&:before {
				top: (@line-height-computed * 7);
			}

			padding: (@line-height-computed * 7) 0;

		}
	}	

}