/* Base Type. */

html, body {
	font-weight: @font-weight-base;
}

h1, h2, h3, h4, h5, h6 { margin-top: 0; }

a {
	text-decoration: underline;
	opacity: 0.9;

	&:hover, &:active { opacity: 1; }
}

.copyright {
	a {
		opacity: 0.5;
		color: ~"{{ page.brand.color_body_text }}" !important;
		text-decoration: none !important;

		&:hover, &:active, &:visited {
			color: ~"{{ page.brand.color_body_text }}";
			opacity: 1;
		}
	}
}

.disagree {
	font-size: 16px;
}
