/*
	Use this file to quickly and easily customize the white label
	theme to match your brand needs, from colours to fonts
	and textures.
*/

/* Colours */

@color-state-ok: #7AB800;
@color-state-warning: #FF7B29;
@color-header-background: #EFEFEF;

/* Navigation */

@navbar-background-color: transparent;

/* Fonts */

// Import The Open Sans Font.
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

// Assign the themes fonts.
@theme-font-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;