//
// Timelines
// --------------------------------------------------

@timeline-date-width:			140px;
@timeline-time-width:			90px;
@timeline-horizontal-spacing:	32px;
@timeline-vertical-spacing:		@line-height-computed;
@timeline-vertical-spacing-xs:	(@timeline-vertical-spacing / 2);
@timeline-vertical-spacing-sm:	(@timeline-vertical-spacing * 3);
@timeline-vertical-spacing-md:	(@timeline-vertical-spacing * 5);
@timeline-vertical-spacing-lg:	(@timeline-vertical-spacing * 7);
@timeline-padding:				@line-height-computed;
@timeline-bullet-size:			16px;
@timeline-opacity:				0.25;